* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(195, 43, 226);
}
.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nao {
    border: 2px red solid;
    font-size: 25px;
    border-radius: 12px;
    background-color: inherit;
    color: red;
    font-family: Arial, sans-serif;
    padding: 8px 30px;
    cursor: pointer;
}

.sim {
    border: 2px rgb(0, 255, 0) solid;
    font-size: 25px;
    border-radius: 12px;
    background-color: inherit;
    color: rgb(0, 255, 0);
    font-family: Arial, sans-serif;
    padding: 8px 30px;
    cursor: pointer;
}

.nao:hover {
    background-color: red;
    color: white;
}

.sim:hover {
    background-color: rgb(0, 255, 0);
    color: white;
}